[submodule "doc/lib/jsdoc"]
	path = doc/lib/jsdoc
	url = https://github.com/jsdoc3/jsdoc
[submodule "src/lib/dojo"]
	path = src/lib/dojo
	url = https://github.com/dojo/dojo
[submodule "src/lib/jade"]
	path = src/lib/jade
	url = https://github.com/visionmedia/jade
[submodule "src/lib/amd-utils"]
	path = src/lib/amd-utils
	url = git://github.com/millermedeiros/amd-utils.git
[submodule "src/lib/deferreds"]
	path = src/lib/deferreds
	url = git://github.com/zship/deferreds.js.git
