[submodule "src/dojo"]
	path = src/dojo
	url = https://github.com/dojo/dojo
[submodule "src/jade"]
	path = src/jade
	url = https://github.com/visionmedia/jade
[submodule "doc/lib/jsdoc"]
	path = doc/lib/jsdoc
	url = https://github.com/jsdoc3/jsdoc
[submodule "dist/lib/r.js"]
	path = dist/lib/r.js
	url = git://github.com/jrburke/r.js.git
